* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	max-width: 512px;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	display: flex;
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}


/* header */

.reel-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	justify-content: space-between;
	min-width: 100%;
	padding: 0 20px;
	height: 8%;
	
	

		i {
		color: white;
		background-color: transparent;
		border: none;
		font-size: x-large;
		padding-top: 17px;

			.play {
				left: 0;
				place-items: left;
			}
			.search {
				right: 0;
				place-items: right;
			}
	    }
    
    .btncont {
	    display: flex;
		justify-content: space-between;
		min-width: 40%;
		position: relative;
		gap: 15px;			
		.btn {
			background-color: transparent;
            border: none;
            color: rgba(255, 248, 220, 0.362);
            position: relative;
            font-weight: 500;
            font-size: medium;
			height: 35%;
			top: 33%;
		}
		
		.per_te {
			color: #fff;
			border-bottom: solid white;
			border-bottom-width: medium;
            border-radius: 2px 2px 2px 2px;
	    }
		
}
}

/* ho raggruppato le tre scritte centrali in modo da poterne gestire 
la posizione più indipendentemente dalle due icone laterali. Il tutto è contenuto all'interno di un conteiner più grande */

/* Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	right: 0;
	top: 37%;
	width: 13%;
	min-height: 50%;
    

	.blogo {
		background-color: transparent;
		border-style: none;
	}
	.boolean_logo { background-color: transparent;
		border-radius: 50%;
		max-width: 70%;
	}
	.item {
		color: white;
		width: 100%;
		height: 100%;
		text-align: center;
				
				
			.icon {
			font-size: xx-large;
			}
			.item-text {
				font-size: x-small;
			}
		}
}


			
	/* Ho creato dei contenitori per ogni icona, ognuno con due item (icona e numero sotto), tutti contenuti nel container sidebar.
	Questo per poter posizionare correttamente i loro item */


/* Footer */

footer {
	display: flex;
	position: absolute;
	flex-direction: column;
	bottom: 0;
	left: 0;
    width: 100%;
	
			
	.text {
		font-size: small;
		padding: 10px;
		color: #fff;

		h4 {
			padding-bottom: 14px;
		}
	}

		.icons {
			display: flex;
			justify-content: space-evenly;
			width: 100%;
			height: 100%;
			color: #fff;
			background-color: black;
			padding-top: 1rem;
			padding-bottom: 1rem;
			gap: 10px;
			
			
				.item {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					font-size: x-large;
					width: 80%;
					bottom: 0;
				}
						
			   
				.btn {
					height: 25px;
					width: 40px;
					padding: 5px;
					border-radius: 8px;
					border-style: solid;
					border-color: transparent;
					border-width: 0px;
					border-right-width: 3px;
					border-right-color: fuchsia;
					border-left-width: 3px;
					border-left-color: darkturquoise;

					
				}
				.item-text{
			    font-size: x-small;
				font-style: normal;
				}
			}
                
				
}




/* FARE FOOTER POI AGGIUSTARE IL RESTO. 
Aggiustare BORDER BOTTOM DI "PER TE".
TROVARE ICONA SIDEBAR FRECCIA GIUSTA.
SE RIESCI AGGIUNGI I BONUS.
CERCA DI CAPIRE COME COMPILARE READ ME*/
