* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	max-width: 512px;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	display: flex;
	position: absolute;
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: space-around;
	min-width: 90%;
	height: 8%;
	top: 0;
	left: 10px;
	right: 20px;
	flex: >1;

         

		i {
		display: flex;
		color: white;
		background-color: transparent;
		border: none;
		flex: >1;

			.play {
				place-items: left;
			}
			.search {
				place-items: right;
			}
	    }
    
    .btncont {
	    display: flex;
		justify-content: space-around;
		min-width: 40%;
		position: relative;
			
		.btn {
			background-color: transparent;
            border: none;
            color: rgba(255, 248, 220, 0.362);
            position: relative;
            font-family: "TikTok Sans", sans-serif;
            font-weight: 500;
            font-size: small;
				
		}
		
		.per_te {
			color: #fff;
			border-bottom: solid white;
			border-bottom-width: medium;
            border-radius: 2px 2px 2px 2px;
	}
		
}
}

/* Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	align-items: center;
	right: 0;
	top: 40%;
	min-width: 80px;
	min-height: 450px;
	
	
    
	    .blogo {
        background-color: transparent;

		 .boolean_logo {
            max-width: 50px;
		}

        }

		.item {
			display: flex;
			color: #fff;
			width: 50px;
			
		}
}

			
	/* Inserisci qui sotto 
	le tue regole, se necessario. */


/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}



/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}





/* --------------------- */
